{
    "parser": "@typescript-eslint/parser",
    "env": {
        "browser": true
    },
    "parserOptions": {
        "babelOptions": {
            "presets": ["@babel/preset-react"]
        },
        "requireConfigFile": false
    },
    "rules": {
        "indent": [
            "error",
            4,
            { "SwitchCase": 1 }
        ],
        "semi": "error",
        "no-multiple-empty-lines": "error",
        "newline-before-return": "error",
        "no-trailing-spaces": "error",
        "quotes": ["error", "single", { "avoidEscape": true }]
    }
}
